body { 
    padding: 0;
    margin: 0; 
    background-color: #000;
    overflow-x: hidden;
}

.header { 
    background-color: black;
    width: 100vw;
    padding-top: 5px;
    border-bottom: 2px solid #191924;
}

.header a{
    text-decoration: none;
}

.container { 
    width: 80%; 
    margin: 0 auto; 
}

.logo { 
    height: 10vh;
    width: 12vw; 
}

.navbar { 
    float: right;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.nav-item span { 
    height: 2vh; 
    margin-left: 25px; 
    cursor: pointer; 
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-item .selecionado {
    font-weight: bolder;
}
/*Termino do header*/

/*Começo do Banner*/
.banner {
    width: 100vw;
    height: 95vh; 
    display: flex;
}

.banner_fla {
    background-image: url('../Assets/imgs/img_inicial_dr\ mengo.jpg');
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 95vh; 
}

    .texto h2{
    font-weight: 400;
    padding-top: 80px;
    margin-top: 0;
    font-weight: normal;
    font-size: 48px;
    font-family: 'Flamengo';
    color: #ffffff;
    text-shadow: 2px 2px 2px black;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.container h2{
    margin-left: 30vw;

}

.texto{
    width: 100%;
    height: 550px;
}
/*Termino do Banner*/

/*Começo do social*/

.social {
    background-color: #ffffff;
    padding: 50px 10px;
    width: 100vw;
}

.social .container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.social .titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 8vh;
}

.social h2 {
    font-family: 'Flamengo';
    font-size: smaller;
    display: flex;
    padding: 20px;
    background-color: #000;
    border-radius: 40px;
    align-self: center; 
    justify-self: center;
    text-align: center;
    color: #ff0000;
    margin: 0;
}

.social .boxes {
    display: flex;
    align-items: flex-start;
}

.social .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
    margin-right: 3px;
}

.social .box img {
    width: 250px;
    align-self: center;
}

.social .box h4 {
    color: #ff0000;
    margin-top: 30px;
    font-size: x-large;
}

.social .boxes1 {
    display: flex;
    align-items: flex-start;
}

.social .box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 33%;
    margin-right: 3px;
}

.social .box1 img {
    width: 250px;
    align-self: center;
}

.social .box1 h4 {
    color: #ff0000;
    margin-top: 30px;
    font-size: x-large;
}

/*Termino do social*/

/*Começo do footer*/
.footer {
    background-color: #000;
    height: 15vh;
    color: white;
    margin: 0;
    padding: 0;
    border-top: 2px solid #191924;
}

.footer .container {
    display: flex;
    justify-content: center;

}

.float-box {
    display: flex;
    justify-content: center;

}
.redes {
    justify-content: center;
    align-items: center;
}
.redes img { 
    height: 40px;  
    margin-right: 28px; 
    margin-left: 27px;
    cursor: pointer; 
}


.redes p.p {
    font-weight: 200;
    font-family:Arial, Helvetica, sans-serif;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-left: 8vw;

}


.redes .direitos {
    font-size: x-small;
    margin-left: 8vw;
    font-family: 'Flamengo';
    margin-top: 20px;
}
/*Termino do footer*/   


/* QUEM SOU EU */

/*Começo do Banner*/
.banner_body_camp{
    margin: 0;
    padding: 0%;
    background-color: #ff0000;
    height: 100vh;
}

th,tr,td{
    border: 2px solid #000;
    padding:10px;
    font: 12pt Verdana;
}
table{
    display:block;
    float:left;
    margin-right:10%;
    border-radius:20px;
    border: 4px solid black;
    padding:10px;
    margin-top: 2vh;
}

img{
    border:2px solid black;
}
th{
    background-color:lightblue;
    font-weight: bolder;
}

h2{
    float:left;
    margin-left:5%;
    font-weight: bolder;
    font:40pt Verdana;
    margin-top:200px;
}

td{
    color: #000;
    font-weight: bold;
}
/* LOGIN */

/*Começo do Banner*/
.body_login{
    --color-primary:#191924;
    --color-primary-dark:#0c0c11;
    --color-secundary:#b83c3c;
    --color-error:#ff0000;
    --color-success:#4bb000;
    --border-radius: 4px;

    margin: 0;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(../Assets/imgs/flamengo-maracana-sport-wallpaper-preview.jpg);
    background-size: cover;
}

.container_login{
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    background: #ffffff;
}

.container,
.form__input,
.form__button{
    font: 500 1rem 'arial', sans--serif;
}

.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success{
    color: var(--color-success);
}

.form__message--error{
    color: var(--color-error);
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2,border-color 0.2s;
}

.form__input:focus{
    border-color:var(--color-primary);
    background: #ffffff;
}

.form__input--error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover{
    background: var(--color-primary-dark);
}

.form__button:active{
    transform: scale(0.98);
}

.form__text{
    text-align: center;
}

.form__link{
    color: var(--color-secundary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}